
h1 {
    text-align: center;
	font-family: 'Merienda', cursive;
	color: rgb(84, 173, 32);
}

h2 {
	color: white;
	text-align: center;
}

h3 {
	color: white;
	text-align: center;
}

.btn-primary {
	border-radius: 15px;
}

html, body{
	height: 100%;
}

body { 
   
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #181818;  
}



body{
	margin: 0;
	padding: 0;
	font-family: exo, sans-serif;
	color: white;
}


.jumbotron img {
	width: 100px;
	height: 100px;
	display:block;
    margin-left:auto;
    margin-right:auto;

  }
  
.header h1 {
	position: relative;
	top: 18px;
	left: 10px;
  }

.footer {
	text-align: center;
	border-color: #181818;
}

.jumbotron {
	background-color : #181818 !important ;

}

.btn {
	background-color: rgb(84, 173, 32);
	border: none;
}

form {
	color: rgb(84, 173, 32);
}



h5 {
	color: black;
}

p {
	color: black;
}

.footer p {
	color: rgb(84, 173, 32);
}

.dropdown-menu.show {
	background-color: #181818;
	border-color: #181818;
}

.nav-link {
	color: rgb(84, 173, 32);
}

.form-control {
	width: 400px;
}
